<main>
  <div class="side-bar">
    <%= render "words/side_bar"%>
  </div>
  <div class="user__wrapper">
    <h2 class="field_label"><%= "#{@user.name} プロフィール"%></h2>
    <div class="user_profile">
      <div class="user_one">
        <% if @user.user_image.present?%>
          <%= image_tag @user.user_image, class: :user_image %>
        <% end %>
      </div>
      <div class="profile_content">
        <div class="text_content">
          <p>~ニックネーム~</p>
          <div class="user__content">
            <%= @user.nickname %>
          </div>
          <p>~名前~</p>
          <div class="user__content">
            <%= @user.name %>
          </div>
          <p>~職業~</p>
          <div class="user__content">
            <%= @user.job.name %>
          </div>
        </div>
        <%# プロフィール修正が必要%>
      <div>
      <div class="text_content">
          <p>~自己紹介~</p>
          <div class="user__content">
            <%= @user.profile %>
          </div>
      </div>
    </div>
    <h2 class="field_label"><%= "投稿"%></h2>
    <div class="user_post">
      
        <%= render partial: '/words/word', collection: @words %>
      
    </div>
  </div>
    
</main>
<div class="home_icon">
  <a href="/words"><i class="fa fa-home fa-6x"></i></a>
</div>
<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
  <div class="user_edit_icon">
    <a href="/users/<%=@user.id%>/edit" data-method="get"><i class="fas fa-user-edit fa-2x"></i></a>
  </div>
  <% end %>
  <div class="new_icon">
    <a href="/words/new"><i class="fas fa-camera fa-6x"></i></a>
  </div>
<% end %>