<div class="main">
  <div class="inner">
    <div class="user__wrapper">
        <h2 class="page-heading">
          <%= "#{@user.name} プロフィール"%>
        </h2>
        <% if current_user.id == @user.id %>
          <h2>マイページ</h2>
        <% end %>
        <div class="user_profile">
          <table class="table">
            <tbody>
              <tr>
                <th class="table__col1">ニックネーム</th>
                <td class="table__col2"><%= @user.nickname %></td>
              </tr>
              <tr>
                <th class="table__col1">名前</th>
                <td class="table__col2"><%= @user.name %></td>
              </tr>
              <th class="table__col1">フリガナ</th>
                <td class="table__col2"><%= @user.name_kana %></td>
              <tr>
                <th class="table__col1">自己紹介</th>
                <td class="table__col2"><%= @user.profile %></td>
              </tr>
              <tr>
                <th class="table__col1">職業</th>
                <td class="table__col2"><%= @user.job.name %></td>
              </tr>
            </tbody>
          </table>
          <div class="user_image">
            <%= image_tag @user.user_image.variant(resize: '500x500')%>
          </div>
        </div>
        <h2 class="page-heading">
          <%= "#{@user.name}の投稿"%>
        </h2>
         <div class="user__card">
          <%= render partial: '/words/word', collection: @words %>
        </div>
    </div>
  </div>
</div>
<footer>
  <%= link_to "ホームへ戻る", root_path, class: :page_link %>
  <div class="page_link">
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "ユーザー一覧ページへ", users_path %>
    <% else %>
      <%= link_to "マイページ", "/users/#{current_user.id}" %>
    <% end %>
  </div>
  <div class="page_link">
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "アカウントを編集する", edit_user_path(current_user), class: :page_link %>
    <% else %>
      言語化フォーマット
    <% end %>
  </div>
  <%= link_to "New Post", new_word_path, class: :page_link %>
</footer>