<div class="word">
  <div class="word-top">
    <%= link_to "#{word.user.nickname}", "/users/#{word.user_id}", class: :word__user %>
    <div class="word__time">
      <%= word.created_at.strftime('%-d日%-H時%-M分') %>
    </div>
  </div>
  <%= link_to image_tag(word.image, class: :word__img ), word_path(word.id), method: :get %>
  <%= link_to word.title, word_path(word.id), class: :word__title%>
  <p class="word__summary">
    <%= word.note %>
  </p>
</div>
