<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        FootBall × Visualizasion
      </div>
    </div>
  </div>
</div>
</header>
<main>
  <div class="side-bar">
    <%= render "side_bar"%>
  </div>
  <div class="main-bar">
    <%= render "main_bar"%>
  </div>
</main>
<footer>
  <%= link_to "ホームへ戻る", root_path, class: :page_link %>
  <% if user_signed_in? %>
    <%= link_to "マイページ", "/users/#{current_user.id}", class: :page_link %>
  <% else %>
    <%= link_to "ユーザー一覧ページへ", users_path, class: :page_link %>
  <% end %>
  <div class="page_link">
    言語化フォーマット
  </div>
  <% if user_signed_in? %>
  <%= link_to "投稿", new_word_path, class: :page_link%>
  <% else %>
  <%= link_to "ログイン", new_user_session_path, class: :page_link %>
  <% end %>
</footer>