<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        サッカー×Visualizasion
      </div>
      <% if user_signed_in? %>
        <div class="nav__right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
          <%= link_to "New Post", new_word_path, class: :nav__btn %>
        </div>
      <% else %>
        <div class="nav__right">
          <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
          <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</header>
<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="user-list">
        <span class="arrow"></span>
        <%= link_to "ユーザー一覧ページへ", users_path, class: :notice%>
      </div>
      <div class="current_user">
        <%= link_to "#{current_user.name}さんが、ログイン中", "/users/#{current_user.id}" %>
      </div>
    <% end%>
    <div class="card__wrapper">
    <% if @words.present?%>
      <%= render partial: 'word', collection: @words %>
    <% else%>
      <div class="card">
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class="card__body">
          <%= link_to "タイトル", class: :card__title%>
          <p class="card__summary">言語化フォーマット</p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</main>
<footer>
  <%= link_to "ホームへ戻る", root_path, class: :page_link %>
  <% if user_signed_in? %>
    <%= link_to "マイページ", "/users/#{current_user.id}", class: :page_link %>
  <% else %>
    <%= link_to "ユーザー一覧ページへ", users_path, class: :page_link %>
  <% end %>
  <div class="page_link">
　   言語化フォーマット
  </div>
  <%= link_to "New Post", new_word_path, class: :page_link%>
</footer>