<header class="header">
      <div class="concept＿title">
      </div>
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
          サッカー×想像力
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
              <%= link_to "New Post", new_word_path%>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
<%= form_with(url: search_words_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
       <div class="user-page">  
        <%= link_to "ユーザー一覧ページへ", users_path, class: :greeting__link%>
       </div>
       <%= link_to "#{current_user.name}さんが、ログイン中", "/users/#{current_user.id}", class: :greeting__link%>
    <% end%>
    <div class="card__wrapper">
      <%= render partial: 'word', collection: @words %>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="footer-left">
    <%= link_to "ホームへ戻る", root_path %>
  </div>
  <div class="footer-center-left">
    <% if user_signed_in? %>
      <%= link_to "マイページ", "/users/#{current_user.id}" %>
    <% else %>
      <%= link_to "ユーザー一覧ページへ", users_path %>
    <% end %>
  </div>
  <div class="footer-center-right">
     言語化フォーマット
  </div>
  <div class="footer-right">
      <%= link_to "New Post", new_word_path%>
  </div>
</footer>