
<main>
  <div class="side-bar">
    <% if user_signed_in? %>
      <h4>~現在、ログイン中~</h4>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :sign__btn %>
      <%= link_to "マイページ", "/users/#{current_user.id}", class: :sign__btn %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: :sign__btn %>
      <%= link_to "ログイン", new_user_session_path, class: :sign__btn %>
    <% end %>
    <%= link_to "ユーザー一覧ページへ", users_path, class: :sign__btn %>
  </div>
  <div class="show__bar">
    <div class="show__content">
    <div class="show__wrapper">
      <div class="show__user">
        <%= link_to @word.user.nickname, "/users/#{@word.user.id}", class: :word_show_user %>
      </div>
      <div class="word__image">
        <%= image_tag @word.image %>
      </div>
      <div class="tittle__detail">
        <p class="title__message">
          <%= @word.title %>
        </p>
      </div>
      <div class="note__content">
        <div class="note__detail">
          <p class="note__message">
            <%= @word.note %>
          </p>
        </div>
      </div>
      <div class="comments__content">
        <div class="word__comments">
          <% if user_signed_in? %>
            <%= form_with(model: [@word, @comment],local: true) do |f|%>
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment_text" %>
              <%= f.submit "送信"%>
            <% end %> 
          <% end %>
          <ul class="comments_lists">
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%= comment.text%>
                <%= link_to @word.user.nickname, "/users/#{@word.user_id}", class: :comment_user %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>
<div class="home_icon">
  <a href="/words"><i class="fa fa-home fa-6x"></i></a>
</div>
<% if user_signed_in? %>
  <% if current_user.id == @word.user_id %>
  <div class="edit_icon">
  <%# 編集と削除の文字列いらない(記述しておかないとテストコードでリンク選択がうまくいかない) %>
  <%# 文字列だけ隠せればいいかも%>
    <a href="/words/<%=@word.id%>/edit" data-method="get" name="edit_icon"><i class="fas fa-pencil-alt fa-2x">編集</i></a>
  </div>
  <div class="delete_icon">
    <a rel="nofollow" href="/words/<%=@word.id%>" data-method="delete" name="delete_icon"><i class="fas fa-bomb fa-2x">削除</i></a>
  </div>
  <% end %>
  <div class="new_icon">
    <a href="/words/new"><i class="fas fa-camera fa-6x"></i></a>
  </div>
  <% end %>